@use '../../../assets/styles/base/variables' as vars;
@use '../../../assets/styles/base/typography';
@use '../../components/likeButton/likeButton';


.review {
  @include typography.ordinaryFont();
  display: flex;
  flex-direction: column;

  &:not(:last-child) {
    margin-bottom: 24px;
  }

  &__head {
    margin-bottom: 10px;
    display: flex;
    line-height: 24px;
  }

  &__avatar {
    margin-right: 10px;
    max-width: 47px;
    max-height: 47px;
    border: 2px solid white;
    border-radius: 50%;
    overflow: hidden;
    filter: drop-shadow(0 10px 20px rgba(31, 32, 65, 0.3));

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &__name {
    color: vars.$mainTextColor75;
    font-weight: bold;
  }

  &__date {
    color: vars.$mainTextColor75;
  }

  &__content {
    display: flex;
    align-items: flex-start;
  }

  &__like-container {
    min-width: 55px;
    max-width: 55px;
    margin-left: 3px;
    margin-top: 2px;
  }

  &__text {
    margin: 0;
    font-size: 14px;
    line-height: 24px;
    color: vars.$mainTextColor75;
  }
}
