@use 'variables' as vars;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: inherit;
}

body {
  display: flex;
  width: 100%;
  min-width: 380px;
  min-height: 100vh;
  justify-content: center;
  background-color: #f2f5f7;
}

.bodyContainer {
  width: 100%;
  max-width: 1920px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: vars.$mainBackgroundColor;
}
