// Colors
$mainTextColor: rgb(31, 33, 65);
$mainTextColor75: rgba(31, 32, 65, 0.75); 
$mainTextColor50: rgb(31, 32, 65, 0.50); 
$mainTextColor25: rgb(31, 32, 65, 0.25);
$mainTextColor05: rgb(31, 32, 65, 0.05);

$mainAccentColor: #bc9cff; 
$additionalAccentColor: #6FCF97;
$mainGradientColor: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
$additionalGradientColor: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);

$mainBackgroundColor: #FFFFFF;

$mainButtonsTextColor: $mainAccentColor;
$additionalButtonsTextColor: $mainBackgroundColor;
$mainButtonsBackgroundColor: $mainGradientColor;

$inputBorderColor: $mainTextColor25;
$inputBorderColor--hover: $mainTextColor50;


// Fonts  
$mainFont: 'Montserrat', sans-serif;

// Animations
$tr-fast: 0.25s;

// break points
$bp1440: 1440px;
$bp1160: 1160px;
$bp980: 980px;
$bp768: 768px;
$bp670: 670px; //custom bp for roomDetails
$bp480: 480px;
$bp320: 320px;