@import '../../components/registrationCard/registrationCard';

.registration {
  width: 100%;
  
  &__container {
    position: relative;
    background-position: center 80%;
    max-width: 1920px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 685px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../../../assets/images/backgrounds/registration-page-bg.jpg');
  }
}


