@use '../../../assets/styles/base/variables' as vars;
@use '../../../assets/styles/base/typography';
@use '../../../assets/styles/base/animations';
@use '../../../assets/styles/plugins/datepicker';

.dropdown-date {
  display: flex;
  justify-content: space-between;
  user-select: none;

  // @media (max-width: vars.$phone-width) {
  //   max-width: 100%;
  // }

  &__label {
    display: flex;
    max-width: 50%;
    flex-direction: column;

    &:first-child {
      margin-right: 20px;
    }
  }

  &__title {
    @include typography.fontH3();
  }

  &__input-container {
    position: relative;
    margin-top: 5px;
  }
  
  &__input {
    @include typography.ordinaryFont();
    line-height: 18px;
    padding: 12px 15px;
    width: 100%;
    border: 1px solid;
    border-color: vars.$inputBorderColor;
    border-radius: 4px;
    background: transparent;

    &::placeholder {
      color: vars.$mainTextColor50;
    }

    &::-moz-placeholder {
      color: vars.$mainTextColor50;
    }

    // @media (max-width: vars.$phone-width) {
    //   padding: 10px 12px;
    //   font-size: 12px;
    // }

    &:focus {
      border-color:  vars.$inputBorderColor--hover;
      color: vars.$mainTextColor75;
      outline: none;
    }

    &:hover {
      border-color: vars.$inputBorderColor--hover;
    }
  }

  &__button {
    position: absolute;
    top: calc(50% - 21px);
    right: 1px;
    height: 42px;
    width: 42px;
    border: none;
    border-radius: 4px;
    background: transparent;

      // &::before {
      //   content: url(../../../assets/images/icons/expand-more.svg);
      //   position: absolute;
      //   width: 12px;
      //   height: 12px;
      //   top: calc(50% - 6px);
      //   right: calc(50% - 6px);
      // }

    &--closed {
      &::before {
        animation: dropdown--open 0.1s ease;
      }
    }

    &--opened {
      &::before {
        animation: dropdown--closed 0.1s ease;
      }
    }

    &:hover {
      background-color: rgba(128, 128, 128, 0.089);
      cursor: pointer;
    }
  }

  &__status {
    position: absolute;
    display: flex;
    align-items: center;
    width: 12px;
    height: 12px;
    top: calc(50% - 6px);
    right: 16px;
    border: none;
    cursor: pointer;

    svg {
      width: 100%;
      height: 100%;
    }
  }
}


// @keyframes dropdown--open {
// 0% {
// transform: rotate(0deg);
// }
// 50% {
// transform: rotate(-90deg);
// }
// 100% {
// transform: rotate(-180deg);
// }
// }

// @keyframes dropdown--close {
// 0% {
// transform: rotate(-180deg);
// }
// 50% {
// transform: rotate(-90deg);
// }
// 100% {
// transform: rotate(0deg);
// }
// }