mixin likeButton({ count, liked })
  case liked
    when 'true'
      button(type="button").likeButton.likeButton--liked
        span.likeButton__icon.likeButton__icon--liked
          include Images/icons/favorite.svg
        span.likeButton__icon.likeButton__icon--hiden
          include Images/icons/favorite_border.svg
        span.likeButton__counter #{count}
    when 'false'
      button(type="button").likeButton
        span.likeButton__icon.likeButton__icon--liked.likeButton__icon--hiden
          include Images/icons/favorite.svg
        span.likeButton__icon
          include Images/icons/favorite_border.svg
        span.likeButton__counter #{count}
