mixin dropdownList({ title, placeholder, classContainer })
  div(class = classContainer).dropdown-list
    span.dropdown-list__title
      | #{title}
    .dropdown-list__input-container
      input(
        type="text" 
        placeholder=placeholder
        readonly = "true"
      ).dropdown-list__input
      span.dropdown-list__status
        include Images/icons/expand-more.svg
    .dropdown-list__list-wrapper
      .dropdown-list__list 