@use '../../../assets/styles/base/variables' as vars;
@use '../../../assets/styles/base/typography';

.bullet-list {
  @include typography.ordinaryFont();
  max-width: 260px;

  &__item {
    margin-bottom: 10px;
    display: flex;
    align-items: flex-start;

    &:last-child {
      margin-bottom: 0;
    }

    &::before {
      content: '';
      margin-top: 5px;
      margin-right: 10px;
      display: block;
      min-width: 10px;
      min-height: 10px;
      background-color: vars.$mainTextColor25;
      border-radius: 50%;
    }
  }

  &__text {
    color: vars.$mainTextColor75;
  }
}
