@use './../../../assets/styles/base/typography';
@use './../../../assets/styles/base/variables';

.index {
  @include typography.fontH3();
  color: variables.$mainTextColor50;
  padding: 50px;

  &__title {
    @include typography.fontH1();
    font-size: 2.5rem;
    color: variables.$mainAccentColor;
    padding: 10px 0;
    text-align: center;
  }

  &__sub-title {
    @include typography.fontH2();
    color: variables.$additionalAccentColor;
    font-size: 1.5rem;
    margin-top: 40px;
    margin-left: 35px;

  }

  &__list {
    margin: 0;
    margin-top: 20px;
    padding: 0;
    list-style: none;
    font-size: 20px;
    margin-left: 35px;
  }

  &__list-item {
    margin-bottom: 25px;
    list-style:square;
  }

  &__link {
    text-decoration: none;

    &:hover {
      color: variables.$mainTextColor;
    }
  }
}