extends Views/layouts/demontstration.pug

block variables
  - const title = 'Home'

//- add page specifically styles
append style
  link(href=require('./index.scss') rel='stylesheet')

block content
  main.index
    h1.index__title Toxin web
    h2.index__sub-title UI components:
    ul.index__list
      li.index__list-item
        a(href="/headersAndFooters.html").index__link headers and footers
      li.index__list-item
        a(href="/formElements.html").index__link form-elements
      li.index__list-item
        a(href="/cards.html").index__link.chek cards page
    h2.index__sub-title Pages:
    ul.index__list
      li.index__list-item
        a(href="/landing.html").index__link landing page
      li.index__list-item
        a(href="/registration.html").index__link registration page
      li.index__list-item
        a(href="/signIn.html").index__link sign in page
      li.index__list-item
        a(href="/roomDetails.html").index__link room details page
      li.index__list-item
        a(href="/filter.html").index__link filter page

