@use '../../../assets/styles/base/variables' as vars;
@use '../../../assets/styles/base/typography';
@use '../../../assets/styles/base/animations';

.check-list {
  @include typography.ordinaryFont();

  &__item {
    list-style: none;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  .checkbox {
    position: relative;
    display: flex;
    height: max-content;
    width: 100%;

      input{
        display: none;
      }
  
    &__state {
      display: inline-block;
      height: 20px;
      width: 20px;
      border-radius: 4px;
      border: vars.$mainTextColor25 1px solid;
      background-color: transparent;
      cursor: pointer;
  
      &:hover{
        border-color: vars.$mainAccentColor;
      }
    }
    
    input:checked + span {
      background: url(../../../assets/images/icons/checkbox-mark.svg) no-repeat;
      background-position: 50% 30%;
      border-color: vars.$mainAccentColor;
      animation-name: tap;
      animation-duration: 0.25s;
    }
  
    &__text {
      width: 210px;
      line-height:18px;
      margin-left: 10px;
    }

    &__title {
      font-weight: bold;
      color: vars.$mainTextColor75;
    }

    &__description {
      font-size: 12px;
      line-height: 14px;
      width: 230px;
      margin-top: 6px;
    }
  }
}