@use '../../../assets/styles/base/variables' as vars;
@use '../../../assets/styles/base/typography';
@use '../../../assets/styles/plugins/jquery-ui/jquery-ui.min.css';

.range-slider {
  position: relative;
  width: 100%;
  
  &__value {
    @include typography.ordinaryFont();
    font-size: 12px;
    outline: none;
    border: none;
  }
  
  .ui-slider {
    border: 1px solid vars.$mainTextColor25 ;
    max-height: 6px;

    &-range {
      background: vars.$additionalGradientColor;
    }

    &-handle {
      top: -5px;
      width: 13px;
      height: 13px;
      border-radius: 100% ;
      border: 1px solid white;
      background: vars.$additionalGradientColor;
      
      &:focus{
        outline: none;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
}