mixin advantageIcons
  -
    var icon = attributes['icon']

  case icon
    when 'insert-emoticon'
      include Images/icons/insert-emoticon.svg
    when 'location-city'
      include Images/icons/location-city.svg
    when 'whatshot'
      include Images/icons/whatshot.svg