include Views/components/button/button
include Views/components/textField/textField

mixin loginCard()
  .login-card
    form(action="#", method="post").login-card__container
      .login-card__title Войти
      .login-card__login-info
        +textField({
          type: 'email',
          placeholder: 'Email',
          required: true
        })
        +textField({
          type: 'password',
          placeholder: 'Пароль',
          required: true
        })
      +button({
        type: 'submit',
        href: '#',
        classes: 'button--confirm button--high',
        text: 'Войти'
      })
      .login-card__registration
        span Нет аккаунта на Toxin?
        +button({
          type: 'link',
          href: 'registration.html',
          classes: 'button--bordered button--high',
          text: 'Создать'
        })