mixin switcher({title, name, checked =false})
  .switcher
    label.switcher__label
      input(type="checkbox", name=name, checked=checked)
      span.switcher__slider
      span.switcher__description 
        | #{title}