@use '../../../assets/styles/base/variables' as vars;
@use '../../../assets/styles/base/typography';

.switcher {
  color: inherit;
  display: flex;
  align-items: center;

  &__label {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
  
    input {
      display: none;
  
      &:checked + .switcher__slider {
        border-color: vars.$mainAccentColor;
  
        &:before {
          transform: translateX(18px);
          background: vars.$mainGradientColor;
        }
      }

      &:checked ~ .switcher__description {
        color: vars.$mainTextColor75;
        transition: all vars.$transition-default;
      }
    }
  }

  &__slider {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    border-radius: 34px;
    border: 1px solid vars.$mainTextColor25;
    cursor: pointer;

    &:before{
      position: absolute;
      content: "";
      height: 12px;
      width: 12px;
      left: 4px;
      bottom: 3px;
      background-color: vars.$mainTextColor25;
      transition: all vars.$transition-default;
      border-radius: 34px;
    }
  }

  &__description {
    @include typography.ordinaryFont();
    position: absolute;
    top: -2px;
    margin-left: 50px;
    width: 230px;
    word-wrap: break-word;
  }
}