@use '../../../assets/styles/base/typography';
@use '../../../assets/styles/base/variables' as vars;
@use '../../components/button/button';


.text-field {
  position: relative;
  display: block;
  // max-width: 320px;

  &__title {
    @include typography.fontH3();
    display: inline-block;
    margin-bottom: 5px;
  }

  &__input {
    @include typography.ordinaryFont();
    color: vars.$mainTextColor75;
    padding: 9px 15px;
    width: 100%;
    border: 1px solid vars.$inputBorderColor;
    border-radius: 4px;
    background-color: vars.$mainBackgroundColor;
    
    &::placeholder {
      font-size: 14px;
      color: vars.$mainTextColor25;
    }
    
    &:hover {
      transition: border-color vars.$transition-default;
      border: 1px solid vars.$inputBorderColor--hover;
    }

    &:focus {
      border-color: vars.$inputBorderColor--hover;
      outline: none;

      &::placeholder {
        color: vars.$mainTextColor75;
        transition: color vars.$transition-default;
      }
    }
  }

  &__button-wrap {
    position: absolute;
    height: 43px;
    width: 45px;
    right: 0;
    bottom: 0;
  }
}
