extends Views/layouts/default.pug
include Views/components/advantages/advantages
include Views/components/roomsPhoto/roomsPhoto
include Views/components/pieChart/pieChart
include Views/components/review/review
include Views/components/bulletList/bulletList
include Views/components/bookingCard/bookingCard


append meta
  meta(name="description", content="Поиск номеров")
  meta(name="keywords" content="отель, бронирование, комнаты, отдых")

block variables
  - const title = 'Подробности'

append style
  link(href=require('roomDetails.scss') rel='stylesheet')

append script
  script(src=require('./roomDetails.js') defer='')


block content
  main.room-details
    .room-details__photo-container
      +roomsPhoto(
        {
        roomNumber: 888,
        },
        [
        '1.png',
        '2.png',
        '3.png',
      ])
    .room-details__content-container
      .room-details__info
        .room-details__info-row
          .room-details__advantages
            h3.room-details__title
              | Сведения о номере 
            +advantages({
              items: [
                {
                  title: "Комфорт",
                  description: "Шумопоглащиющие стены",
                  icon: "insert-emoticon"
                },
                {
                  title: "Удобство",
                  description: "Окно в каждой из спален",
                  icon: "location-city"
                },
                {
                  title: "Уют",
                  description: "Номер оснащен камином",
                  icon: "whatshot"
                },
              ]
            })
          .room-details__impressions
            h3.room-details__title
              | Впечатления от номера 
            +pieChart({
              voices: [
                {
                grade: "Великолепно",
                num: 130
                },
                {
                  grade: "Хорошо",
                  num: 65
                },
                  {
                  grade: "Удовлетворительно",
                  num: 65
                },
                  {
                  grade: "Разочарован",
                  num: 0
                },
              ]
            })
        .room-details__info-row
          .room-details__reviews
            .room-details__reviews-head
              h3.room-details__title
                | Отзывы посетителей номера
              span.room-details__reviews-counter 2 отзыва
            +review({
              avatar: "murad.png",
              name: "Мурад Сарафанов",
              date: "5 дней назад",
              text: "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.",
              like: 12,
              liked: true
            })
            +review({ 
              avatar: "patricia.png",
              name: "Патрисия Стёклышкова",
              date: "Неделю назад",
              text: "Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент.",
              like: 2,
              liked: false
            })
        .room-details__info-row
          .room-details__bullet-list
            h3.room-details__title
              | Правила
            +bulletList({
              title: "Правила", 
              items: [
                "Нельзя с питомцами",
                "Без вечеринок и мероприятий",
                "Время прибытия — после 13:00, а выезд до 12:00",
              ]
            })
          .room-details__cancel
            h3.room-details__title
              | Отмена
            p.room-details__cancel-text
              | Бесплатная отмена в течение 48 ч. После
              | этого при отмене не позднее чем за 5 дн. до
              | прибытия вы получите полный возврат за
              | вычетом сбора за услуги.
      .room-details__booking
        +bookingCard({
          number: 888,
          type: "люкс",
          priceOfOneDay: "9 990",
          days: "4",
          sum: "39 960",
          discount: "2 179",
          taxes: ["0", "300"],
          total: "38 081"
        })
