@use '../../../assets/styles/base/variables' as vars;
@use '../../../assets/styles/base/typography';

.pie-chart {
  display: flex;
  align-items: flex-end;

  // @media (max-width: $table-width) {
  //   display: block;
  // }

  // @media (max-width: $phone-width) {
  //   display: flex;
  //   align-items: center;
  // }

  &__container {
    position: relative;
    display: flex;
    width: 126px;
    height: 125px;
    justify-content: center;
    align-items: center;
    margin-left: -2px;
  }

  &__voices {
    @include typography.fontH2();
    color: vars.$mainAccentColor;
    position: relative;
    display: flex;
    flex-direction: column;
    top: -7px;
    max-width: 70px;
    max-height: 35px;
    font-size: 16px;
    line-height: 15px;
    text-align: center;
    white-space: pre-wrap;
  }

  &__num {
    font-size: 24px;
    line-height: 29px;
    font-style: normal;
  }

  &__text {
    font-size: 15px;
  }

  &__diagram-wrapper {
    position: absolute;
    z-index: 10;
    width: 125px;
    height: 124px;
  }

  &__list {
    margin: 0;
    margin-left: 26px;
    padding: 0;
    display: block;
    max-width: 180px;
    font-size: 14px;
    line-height: 24px;
    // color: $text-color-brightness-75;

    // @media screen and (max-width: $table-width) {
    //   margin-left: 0;
    // }

    // @media (max-width: $phone-width) {
    //   font-size: 12px;
    //   line-height: 20px;
    // }
  }

  &__list-item {
    display: flex;
    align-items: flex-start;
    white-space: pre-wrap;

    &::before {
      margin-top: 7px;
      margin-right: 5px;
      width: 10px;
      min-width: 10px;
      height: 10px;
      min-height: 10px;
      content: '';
      border-radius: 50%;
    }

    &:first-child {
      &::before {
        background: linear-gradient(180deg, #ffe39c 0%, #ffba9c 100%);
      }
    }

    &:nth-child(2) {
      &::before {
        background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
      }
    }

    &:nth-child(3) {
      &::before {
        background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
      }
    }

    &:nth-child(4) {
      &::before {
        background: linear-gradient(180deg, #919191 0%, #3d4975 100%);
      }
    }
  }

  &__item-text {
    @include typography.ordinaryFont();
    color: vars.$mainTextColor75;
    overflow: hidden;
    max-width: 150px;
    white-space: pre-line;
    text-overflow: ellipsis;
  }
}
