mixin pieChart(data)
  -var { voices } = data
  -function sumVoices(){return voices.map((item) => item.num).reduce((acc, item)=>acc+item)}
  .pie-chart(data-voices=sumVoices())
    .pie-chart__container
      .pie-chart__voices
        .pie-chart__num
        .pie-chart__text
      .pie-chart__diagram-wrapper
        canvas(id="pieChart")
    ul.pie-chart__list
      each val in voices
        li.pie-chart__list-item
          span.pie-chart__item-text
            | #{val.grade}