@use '../../../assets/styles/base/variables' as vars;
@use '../../../assets/styles/base/typography';
@use '../textField/textField';
@use '../radioButton/radioButton';
@use '../switcher/switcher';

.registration-card {
  @include typography.ordinaryFont();
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  background: vars.$mainBackgroundColor;
  width: 380px;
  border-radius: 3px ;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  
  &__container {
    padding: 40px 30px 30px;
  }
  
  &__title {
    @include typography.fontH1();
  }

  &__fullname{
    margin-top: 20px;

    .text-field {
      margin-bottom: 10px;
    }

    .text-field:last-child {
      margin-bottom: 0px;
    }
  }
  
  &__gender {
    display: flex;
    margin-top: 10px;
    
    div:not(:first-child) {
      margin-left: 20px;
    }
  }

  &__birthday {
    margin-top: 10px;

    input {
      text-transform: uppercase;
      color: vars.$mainTextColor50;
      
      &:focus {
        color: vars.$mainTextColor75;
      }
    }
  }

  &__login-info {
    margin-top: 15px;

    .text-field {
      margin-bottom: 10px;
    }

    .text-field:last-child {
      margin-bottom: 0px;
    }
  }

  &__subscription {
    margin-top: 10px;
  }

  &__submit-button {
    margin-top: 25px;
  }

  &__login {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      padding: 10px 26px;
    }
  }
}
