include Views/components/button/button
include Views/components/textField/textField
include Views/components/radioButton/radioButton
include Views/components/switcher/switcher

mixin registrationCard()
  .registration-card
    form(action="#", method="post").registration-card__container
      .registration-card__title Регистрация аккаунта
      .registration-card__fullname
        +textField({
          type: 'text',
          placeholder: 'Имя',
          required: true,
          name:'name'
        })
        +textField({
          type: 'text',
          placeholder: 'Фамилия',
          required: true,
          name:'surname'
        })
      .registration-card__gender
        +radioButton({
          title:'Мужчина',
          name: 'gender',
          checked: true,
        }) 
        +radioButton({
          title:'Женщина',
          name: 'gender',
        }) 
      .registration-card__birthday
        +textField({
          type: 'date',
          placeholder: 'ДД.ММ.ГГГГ',
          required: true,
          name: 'DOB',
          title: 'Дата рождения'
        })
      .registration-card__login-info
        +textField({
          type: 'email',
          placeholder: 'Email',
          required: true,
          name: 'email',
          title: 'Данные для входа в сервис'
        })
        +textField({
          type: 'password',
          placeholder: 'Пароль',
          required: true,
          name: 'password',
        })
      .registration-card__subscription
        +switcher({
          title: 'Получать спецпредложения',
          name: 'subscription'
        })
      .registration-card__submit-button
        +button({
          type: 'submit',
          classes: 'button--confirm button--high',
          text: 'Зарегистрироваться'
        })
      .registration-card__login
        span Уже есть аккаунт на Toxin
        +button({
          type: 'link',
          href: 'signIn.html',
          classes: 'button--bordered button--high',
          text: 'Войти'
        })
  