extends Views/layouts/default.pug
include Views/components/selectionCard/selectionCard

block meta
  meta(name="description", content="Поиск номеров")
  meta(name="keywords" content="отель, бронирование, комнаты, отдых")

block variables
  - const title = 'Главная'

append style
  link(href=require('landing.scss') rel='stylesheet')

append script
  script(src=require('landing.js') defer='')


block content
  main.landing
    .landing__container
      .landing__selectionCard-container
        +selectionCard()
      .landing__description-container
        p.landing__description
          | Лучшие номера для вашей работы,
          | отдыха и просто вдохновения
