extends Views/layouts/default.pug
include Views/components/dropdownDate/dropdownDate
include Views/components/dropdownList/dropdownList
include Views/components/rangeSlider/rangeSlider

append meta
  meta(name="description", content="Поиск номеров")
  meta(name="keywords" content="отель, бронирование, комнаты, отдых")

block variables
  - const title = 'Результаты поиска'

append style
  link(href=require('filter.scss') rel='stylesheet')

append script
  script(src=require('./filter.js') defer='')


block content
  main.filter
    .filter__container
      form.filter__filters-form
        .filter__dates
          +dropdownDate({
            firstTitle: 'Даты пребывания в отеле'
          })
        .filter__guests
          +dropdownList({
            title: 'Гости',
            placeholder: 'Сколько гостей',
            classContainer: 'guests-list'
          })
        .filter__price
          h3.filter__filters-title 
            | Диапазон цены
          +rangeSlider({
            id: 'price-slider'
          })
          span.filter__price-reference
           | Стоимость за сутки пребывания в номере
