@use '../../../assets/styles/base/variables' as vars;
@use '../../../assets/styles/base/typography';
@use '../../components/dropdownDate/dropdownDate';
@use '../../components/dropdownList/dropdownList';
@use '../../components/rangeSlider/rangeSlider';
@use '../../components/checkbox/checkbox';
@use '../../components/spoiler/spoiler';
@use '../../components/roomCard/roomCard';
@use '../../components/rating/rating';
@use '../../components/pagination/pagination';


.filter {
  @include typography.ordinaryFont();
  width: 100%;
  display: flex;
  justify-content: center;

  &__container {
    position: relative;
    display: flex;
    width: 100%;
    padding: 29px 140px 70px;
    max-width: 1440px;

    @media (max-width: vars.$bp1160) {
      padding: 20px 40px;
    }

    @media (max-width: vars.$bp980) {
      padding: 10px;
    }

    @media (max-width: vars.$bp670) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__filters-form {
    display: flex;
    flex-direction: column;
    min-width: 266px;
    max-width: 266px;
    margin-right: 59px;

    @media (max-width: vars.$bp980) {
      margin-right: 20px;
      margin-top: 5px;
      margin-bottom: 25px;

    }
  }

  &__filters-title {
    @include typography.fontH3();
    cursor: default;
  }

  &__dates {
    width: 100%;
  }

  &__guests {
    width: 100%;
    margin-top: 20px;
  }

  &__price {
    width: 100%;
    margin-top: 30px;
    
    h3 {
      margin-bottom: 24px;
    }

    input {
      position: absolute;
      right: 0;
      top: -42px;
      text-align: end;
    }
  }

  &__price-reference {
    display: inline-block;
    margin-top: 8px;
    font-size: 12px;
  }

  &__rules {
    margin-top: 25px;

    h3 {
      margin-bottom: 17px;
    }
  }

  &__availability {
    margin-top: 32px;

    h3 {
      margin-bottom: 17px;
    }
  }

  &__comfort {
    margin-top: 30px;
  }

  &__additionally {
    margin-top: 30px;
  }

  &__result {
    width: 100%;
    height: max-content;

    @media (max-width: vars.$bp1440) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  
  &__result-title {
    @include typography.fontH1();

    @media (max-width: vars.$bp1440 - 1) {
      text-align: center;
    }
  }
  
  &__rooms {
    display: flex;
    flex-wrap: wrap;
    margin-top: 22px;
    gap: 21px 12px;

    @media (max-width: vars.$bp1440 - 1) {
      max-width: 555px;
    }

    @media (max-width: 860px) {
      max-width: 270px;
    }
  }

  &__pagination {
    margin-top: 40px;
    margin-right: 15px;
  }
}