extends Views/layouts/default.pug
include Views/components/loginCard/loginCard

append meta
  meta(name="description", content="Поиск номеров")
  meta(name="keywords" content="отель, бронирование, комнаты, отдых")

block variables
  - const title = 'Вход'

append style
  link(href=require('signIn.scss') rel='stylesheet')

append script
  script(src=require('signIn.js') defer='')

block content
  .signIn
    .signIn__container
      +loginCard()
