@use '../../../assets/styles/base/variables' as vars;
@use '../../../assets/styles/base/typography';
@use '../button/button.scss';

.header {
  $self: &;
  
  @include typography.ordinaryFont();
  position: relative;
  width: 100%;
  background-color: vars.$mainBackgroundColor;
  box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05);

  &__wrapper {
    width: 100%;
    max-width: 1260px;
    padding: 0 50px;
    margin: 0 auto;
  }

  &__content {
    padding-top: 13px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    display: flex;
    width: 105px;
    height: 48px;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &__nav {
    margin-left: 10px;
    display: flex;
    align-items: center;

    @media (max-width: vars.$bp980) {
      position: fixed;
      overflow: hidden;
      z-index: 1000;
      top: 65px;
      left: 0;
      margin: 0;
      display: flex;
      flex-direction: column-reverse;
      justify-content: flex-end;
      width: 100%;
      height: 100vh;
      max-height: 0;
      background-color: vars.$mainBackgroundColor;
      transition: max-height vars.$transition-default;
    }

    &--active {
      transition: max-height vars.$transition-default;
      max-height: 100vh;
      visibility: initial;
    }
  }

  &__list {
    width: max-content;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    display: flex;
    overflow-y: auto;

    @media (max-width: vars.$bp980) {
      width: 100%;
      margin-bottom: 70px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__list-item {
    margin-right: 23px;
    list-style: none;
    max-width: 150px;
    display: flex;
    cursor: pointer;

    @media screen and (max-width: 1020px) {
      margin-right: 20px;
    }

    @media screen and (max-width: vars.$bp980) {
      max-width: 100%;
      width: 100%;
      margin: 0;
      transition: vars.$transition-default;
      border-top: 1px solid vars.$mainTextColor25;

        &:last-child {
          border-bottom: 1px solid vars.$mainTextColor25;
        }

      &:hover {
        background: hsla(259, 100%, 81%, 0.6);
        #{$self}__link {
          color: #fff;
        }
        #{$self}__link--dropping {
          &::after {
            border-color:#fff;
          }
        }
      }
    }
  }

  &__link {
    text-decoration: none;
    color: inherit;
    overflow-wrap: break-word;

    @media (max-width: vars.$bp980) {
      padding: 20px 0;
      display: inline-block;
      width: 100%;
      font-size: 18px;
      text-align: center;
    }

    &--active {
      color: vars.$mainTextColor;
      font-weight: bold;
    }

    &--dropping {
      &::after {
        margin-top: 4px;
        margin-left: 10px;
        display: inline-block;
        min-width: 8px;
        max-width: 8px;
        min-height: 8px;
        max-height: 8px;
        content: '';
        border: 2px solid vars.$mainTextColor50;
        border-top: none;
        border-left: none;
        transform: rotate(45deg) translateY(-1px) translateX(-3px);
      }
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 1020px) {
      margin-right: -20px;
    }

    @media (max-width: vars.$bp980) {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 40px;
    }

    a:first-child {
      margin-right: 20px;

      @media (max-width: vars.$bp980) {
        margin-right: 0px;
        margin-bottom: 20px;
      }
    }
  }

  &__user {
    margin: 10px 0 10px 20px;
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
    color: vars.$mainTextColor50;
    border-left: 1px solid rgba(31, 32, 65, 0.1);
    max-width: 200px;
    text-align: end;
  }

  &__burger {
    position: relative;
    display: none;
    min-width: 30px;
    min-height: 30px;
    background: none;
    border: none;
    cursor: pointer;

    @media (max-width: vars.$bp980) {
      display: block;
    }
  }

  &__burger-layout {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: -3px;
    display: none;
    width: 30px;
    height: 3px;
    background-color: vars.$mainAccentColor;
    border-radius: 50px;

    &::after {
      position: absolute;
      z-index: 10;
      top: -9px;
      display: block;
      width: 30px;
      height: 3px;
      content: '';
      background-color: vars.$mainAccentColor;
      border-radius: 50px;
    }

    &::before {
      position: absolute;
      z-index: 10;
      top: 8px;
      display: block;
      width: 30px;
      height: 3px;
      content: '';
      background-color: vars.$mainAccentColor;
      border-radius: 50px;
    }

    @media (max-width: vars.$bp980) {
      display: block;
    }
  }

  &__burger-layout--active {
    position: absolute;
    top: 0;
    height: 30px;
    background-color: vars.$mainBackgroundColor;
    border: 2px solid vars.$mainAccentColor;
    border-radius: 50%;
    transition: vars.$transition-default;

    &::after {
      top: calc(50% - 1px);
      left: 3px;
      width: 20px;
      transform: rotate(45deg);
    }

    &::before {
      top: calc(50% - 1px);
      left: 3px;
      width: 20px;
      transform: rotate(-45deg);
    }
  }
}
