@use '../../../assets/styles/base/variables' as vars;
@use '../../../assets/styles/base/typography';
@use '../textField/textField.scss';

.footer {
  @include typography.ordinaryFont();
  width: 100%;
  background-color: vars.$mainBackgroundColor;
  border-top: 1px solid rgba(31, 32, 65, 0.1);
  box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05);

  @media (max-width: vars.$sm-desktop-width) {
    padding: 50px 0;
  }

  @media (max-width: vars.$phone-width) {
    padding: 50px;
    font-size: 12px;
  }

  &__wrapper {
    padding: 90px 50px 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    max-width: 1260px;

    @media (max-width: vars.$sm-desktop-width) {
      padding: 0;
      padding-bottom: 0;
      justify-content: center;
    }
  }

  &__discription {
    width: 300px;
    padding-right: 30px;
    margin-top: 8px;

    @media (max-width: vars.$sm-desktop-width) {
      text-align: center;
      padding-right: 0px;
    }
  }

  &__discription-logo {
    display: inline-block;
    margin-bottom: 12px;
    max-width: 105px;
    max-height: 48px;

    svg {
      width: 100%;
      height: 100%;
    }

    @media (max-width: vars.$sm-desktop-width) {
      margin-bottom: 0px;
    }
  }

  &__discription-text {
    margin: 0;
    line-height: 24px;
    
    @media (max-width: vars.$sm-desktop-width) {
      display: none;
    }
  }

  &__nav {
    flex: 1 1 600px;
    display: flex;
    justify-content: space-between;

    @media (max-width: vars.$sm-desktop-width) {
      display: none;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    padding-top: 5px;
    width: 200px;
    list-style: none;

    @media (max-width: vars.$md-desktop-width) {
      margin-right: 30px;
      width: auto;
    }
  }

  &__list-title {
    font-weight: bold;
    color: vars.$mainTextColor;
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 23px;
    display: inline-block;
    white-space: nowrap;
    text-transform: uppercase;
  }

  &__list-item {
    margin-bottom: 21px;
    line-height: 17px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    text-decoration: none;
    color: inherit;
    white-space: nowrap;
  }

  &__subscribe {
    padding-top: 5px;
    width: 260px;

    @media (max-width: vars.$sm-desktop-width) {
      display: none;
    }
  }

  &__subscribe-title {
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 15px;
    font-weight: bold;
    color: vars.$mainTextColor;
    margin-bottom: 18px;
  }

  &__subscribe-text {
    margin: 0;
    line-height: 24px;
    overflow-wrap: break-word;
  }

  &__form {
    margin-top: 25px;
  }

  &__basement {
    border-top: 1px solid rgba(31, 32, 65, 0.1);
    background-color: inherit;

    @media (max-width: vars.$sm-desktop-width) {
      margin-top: 5px;
      border: none;
    }
  }

  &__basement-wrapper {
    max-width: 1260px;
    padding: 20px 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: vars.$sm-desktop-width) {
      padding: 0;
      display: block;
      text-align: center;
    }
  }

  &__copyright {
    max-width: 400px;
    line-height: 17px;
  }

  &__social-list {
    margin: 0;
    padding: 0;

    @media (max-width: vars.$sm-desktop-width) {
      margin-top: 20px;
    }
  }

  &__social-item {
    margin-right: 21px;
    display: inline-block;
    line-height: 17px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__social-icon {
    width: 24px;
    height: 24px;
  }
}
