include Views/components/textField/textField

mixin footer()
  -
    const routes = {
      nav: [
        { text: 'О нас' },
        { text: 'Новости'},
        { text: 'Служба поддержки'},
        { text: 'Услуги'},
      ],
      aboutUs: [
        { text: 'О сервисе' },
        { text: 'Наша команда'},
        { text: 'Вакансии'},
        { text: 'Инвесторы'},
      ],
      support: [
        { text: 'Соглашения' },
        { text: 'Сообщества'},
        { text: 'Связь с нами'},
      ],
      social: [
        { xlinkHref:  '#twitter'},
        { xlinkHref:  '#facebook'},
        { xlinkHref:  '#inst'},
      ]
    }
  footer.footer
    .footer__wrapper
      .footer__discription
        a(href="index.html").footer__discription-logo
          include Images/icons/logo-colored.svg
        p.footer__discription-text
          | Бронирование номеров в лучшем
          | отеле 2019 года по версии
          | ассоциации «Отельные взгляды»
      nav.footer__nav
        ul.footer__list
          span.footer__list-title
              | Навигация
          each route in routes.nav
            li.footer__list-item
              a(href="#").footer__link
                | #{route.text}
        ul.footer__list
          span.footer__list-title
                | О нас
          each route in routes.aboutUs
            li.footer__list-item
              a(href="#").footer__link
                | #{route.text}   
        ul.footer__list
          span.footer__list-title
            | Служба поддержки
          each route in routes.support
            li.footer__list-item
              a(href="#").footer__link
                | #{route.text}
      .footer__subscribe
        span.footer__subscribe-title
          | Подписка
        p.footer__subscribe-text
          | Получайте специальные 
          | предложения и новости сервиса
        form.footer__form
          +textField({
            type: 'email',
            placeholder: 'Email',
            button: true,
            required: true
          })
    .footer__basement
      .footer__basement-wrapper
        span.footer__copyright
          | Copyright © 2018 Toxin отель. Все права защищены.
        ul(aria-label="Социальные сети").footer__social-list
          each route in routes.social
            li.footer__social-item
              a(href="#" target="_blank").footer__social-link
                svg.footer__social-icon 
                  use(xlink:href=route.xlinkHref)

