@use '../../components/selectionCard/selectionCard';
@use '../../components/registrationCard/registrationCard';
@use '../../components/bookingCard/bookingCard';
@use '../../components/loginCard/loginCard';
@use '../../components/roomCard/roomCard';


.cards {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: #f4f4f6;
  padding: 150px 140px;
  
  &__logo {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 50px;
    height: 50px;
  }

  &__content {
    display: flex;
  }

  &__column {
    position: relative;
    flex: 1 1 380px;
    margin-right: 40px;
  }

  &__column-item {
    margin-bottom: 40px;
  }

  &__datepicker-input {
    position: relative;
    visibility: hidden;
    height: 370px;
    top: -370px;
  }
}
