extends Views/layouts/demontstration.pug
include Views/components/selectionCard/selectionCard
include Views/components/registrationCard/registrationCard
include Views/components/bookingCard/bookingCard
include Views/components/loginCard/loginCard
include Views/components/roomCard/roomCard


append style
  link(href=require('cards.scss') rel='stylesheet')

append script
  script(src=require('cards.js') defer='')

block content
  main.cards
    .cards__logo
      include Images/icons/logo-gray.svg
    .cards__content
      .cards__column
        .cards__column-item
          +selectionCard()
        .cards__column-item
          +registrationCard()
      .cards__column
        .cards__column-item
          +bookingCard({
            number: 888,
            type: "люкс",
            priceOfOneDay: "9 990",
            days: "4",
            sum: "39 960",
            discount: "2 179",
            taxes: ["0", "300"],
            total: "38 081"
          })
        .cards__column-item
          +loginCard()
      .cards__column
        .cards__column-item
          input.cards__datepicker-input
        .cards__column-item
          +roomCard([
            "1.png",
            "2.png",
            "3.png",
            "4.png"
            ],
            {
              isLuxe: true,
              number: 888,
              price: "9 990",
              rating: 5,
              reviews: 145
          })
        .cards__column-item 
          +roomCard([
            "1.png",
            ],
            {
              isLuxe: false,
              number: 840,
              price: "9 990",
              rating: 4,
              reviews: 65
          })