mixin spoiler()
  .spoiler
    .spoiler__head
      h3.spoiler__title 
        | Дополнительные удобства
      span.spoiler__status
        include Images/icons/expand-more.svg
    .spoiler__content
      div  asdasd
      span  asdasd 
      span  asdasd
      span  asdasd 
      span  asdasd
      span  asdasd 
      span  asdasd
      span  asdasd 
      span  asdasd
      span  asdasd 
      span  asdasd
      span  asdasd 
      span  asdasd

    