include Views/components/checkbox/checkbox

mixin spoiler({type, typeContent, title, content})
  .spoiler
    .spoiler__head
      h3.spoiler__title 
        | #{title}
      span.spoiler__status
        include Images/icons/expand-more.svg
    .spoiler__content
      if type == 'checkboxes'
        +checkbox({
          type: typeContent,
          items: content
        })

    