include Views/components/button/button
include Views/components/dropdownDate/dropdownDate
include Views/components/dropdownList/dropdownList

mixin selectionCard()
  .selection-card
    form(action="#", method="post").selection-card__container
      .selection-card__title Найдём номера под ваши пожелания
      .selection-card__dates
        +dropdownDate({
          firstTitle: 'Прибытие',
          secondTitle: 'Выезд',
        })
      .selection-card__guests
        +dropdownList({
          title: 'Гости',
          placeholder: 'Сколько гостей',
          id: 'guests-list'
        })
      .selection-card__confirm-button
      +button({
        type: 'submit',
        classes: 'button--confirm button--high',
        text: 'Подобрать номер'
      })