@use '../../../assets/styles/base/variables' as vars;
@use '../../../assets/styles/base/typography';

.pagination {
  @include typography.ordinaryFont();
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__container {
    margin-bottom: 10px;
  }

  &__text {
    display: inline-block;
    width: 100%;
    text-align: center;
    color: vars.$mainTextColor75;
  }
}

.page-link {
  text-decoration: none;
}


ul.simple-pagination {
  list-style: none;
}

.simple-pagination {
  overflow: hidden;
  user-select: none;

  ul {
    display: flex;
  }

  li {
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    list-style: none;
    border-radius: 50%;

    &:last-child {
      background: vars.$additionalGradientColor;

      svg {
        fill: #fff;
      }
    }

    &:first-child {
      background: vars.$additionalGradientColor;
      
      svg {
        fill: #fff;
        transform:  rotate(180deg);
      }
    }
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: vars.$mainTextColor50;
    width: 100%;
    height: 100%;
    border-radius: 100%;

    &:hover {
      background: #bb9cff8f;
      color: white;
    }
  }

  .active {
    font-weight: bold;
    color: #fff;
    background: vars.$mainGradientColor;
    border-radius: 50%;
  }

  .disabled {
    display: none;
  }

  span.ellipse.clickable {
    cursor: pointer;
  }

  .ellipse {
    font-size: 12px;
  }

  .ellipse input {
    width: 54px;
  }
}
